body {
    background-color: #a8f3f3;
}

.main_block {
    max-width: 800px;
    margin: auto;
    font-size: 22px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    text-align: center;
}

.main_block > * {
    margin: 20px;
}

.main_block > div > input {
    height: 24px;
    width: 750px;
    font-size: 19px;
}

.button_block {
    width: 150px;
    margin: auto;
}

.button_block > button {
    height: 30px;
    width: 100%;
    font-size: 22px;
}

.button_block > button:hover {
    cursor: pointer;
}

.error_message {
    color: #f00;
}