body {
    background-color: #adcbe67d;
    color: #007bff;
}

.contacts-table thead {
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
}

.contacts-table tbody {
    background-color: #fff;
}

.delete-cell {
    color: #f00;
    cursor: pointer;
}

.empty-row {
    height: 2rem;
}

[v-cloak] {
    display: none;
}