body {
    background-color: #e0ffff;
}

.main_block {
    max-width: 1200px;
    margin: auto;
    font-size: 22px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    text-align: center;
}

.input_field_block, .error_message_block {
    margin: 20px;
}

#input_text_field {
    height: 24px;
    width: 1150px;
    font-size: 19px;
}

#add_button {
    height: 30px;
    width: 100%;
    font-size: 22px;
    margin: auto;
}

.button_block {
    width: 150px;
    margin: auto;
}

.input_label, .output_text_block {
    margin-left: 30px;
}

.error_message_block {
    color: #f00;
}

#todo_list > li {
    width: 100%;
    margin: 20px;
}

.edit_button, .delete_button, .save_button, .cancel_button {
    margin-left: 10px;
}

.edit_text {
    width: 858px;
}