.course_description {
    box-sizing: border-box;
    max-width: 850px;
    background-color: #feeed6;
    font-family: "Arial", serif;
    font-size: 18px;
    color: #676565;
    padding: 8px 12px;
    line-height: 1.15;
}

.course_description_header {
    font-family: "Arial", serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 14px;
}

.enlarged_paragraph {
    margin-top: 12px;
    font-size: 19px;
}

.normal_paragraph {
    margin-top: 12px;
    font-size: 17px;
    line-height: 1.4;
    text-indent: 18px;
    font-weight: 500;
    text-align: justify;
}

.blue_text {
    color: #378db2;
    font-weight: 700;
}