body {
    color: #676565;
    max-width: 845px;
}

.application_form_block * {
    box-sizing: border-box;
}

.header {
    background-color: #fff;
    padding: 20px 20px 10px;
    font-family: "Arial", serif;
    font-weight: 500;
    font-size: 32px;
    margin: 0;
}

.application_form_block {
    font-size: 16px;
    font-family: "Arial", serif;
    background-color: #feeed6;
    padding: 15px 20px;
}

.label_block {
    margin-top: 6px;
    margin-bottom: 7px;
    font-weight: 700;
}

.input_block {
    margin-bottom: 20px;
}

.input_block input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    padding: 11px;
}

.input_block_textarea textarea {
    height: 130px;
    border: none;
    padding: 10px;
    width: 100%;
    resize: vertical;
}

.submit_button_block {
    margin-top: 15px;
    width: 170px;
    margin-left: auto;
}

.submit_button_block input {
    border: none;
    padding: 10px 13.5px;
    color: #fff;
    font-weight: bold;
    background-color: #378db2;
    vertical-align: bottom;
}

.submit_button_block input:hover {
    background-color: #32728d;
    cursor: pointer;
}

.application_form_block p {
    margin-top: 12px;
}