body {
    background-color: lightcyan;
}

.main_block {
    max-width: 800px;
    margin: auto;
    font-size: 22px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    text-align: center;
}

.main_block > * {
    margin: 20px;
}

#input_text_field {
    height: 24px;
    width: 750px;
    font-size: 19px;
}

#convert_button {
    height: 30px;
    width: 100%;
    font-size: 22px
}

.button_block {
    width: 150px;
    margin: auto;
}