body {
    background-color: #e0ffff;
}

.main_block {
    max-width: 1200px;
    margin: auto;
    font-size: 22px;
}

* {
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    text-align: center;
}

.input_field_block {
    padding: 25px 15px 10px;
}

.input_field_block input {
    height: 30px;
    width: 100%;
}

.button_block {
    width: 150px;
    margin: auto;
}

.main_block button {
    margin-left: 10px;
}

.main_block button:hover {
    cursor: pointer;
}

.button_block button {
    height: 30px;
    width: 100%;
    margin: auto;
}

.input_label, .output_text_block, .error_message_block {
    margin-left: 30px;
}

.error_message_block {
    color: #f00;
    padding: 10px 0 15px;
}

.main_block > ul {
    margin-top: 20px;
    padding: 0 20px;
}

.main_block li {
    width: 100%;
    margin: 20px;
}

.empty_block {
    padding: 25px 15px;
}

.hidden_block {
    display: none;
}