.employees_table {
    border-collapse: collapse;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    text-align: left;
    font-family: "Arial", serif;
    font-size: 22px;
}

.employees_first_name, .employees_last_name, .employees_job_title, .employees_twitter {
    border: 1px solid #cfcfcf;
    padding: 14px 11px;
}

.employees_tbody tr:nth-child(even) {
    background-color: #fff;
}

.employees_tbody tr:nth-child(odd) {
    background-color: #eee;
}

.employees_title_row {
    color: #fff;
    background-color: #3498db;
}

.employees_first_name, .employees_last_name {
    width: 150px;
}

.employees_job_title {
    width: 290px;
}

.employees_twitter {
    width: 175px;
}