.employeesTable {
    border-collapse: collapse;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    text-align: left;
    font-family: "Arial", serif;
    font-size: 22px;
}

.employeesColumn1, .employeesColumn2, .employeesColumn3, .employeesColumn4 {
    border: 1px solid #cfcfcf;
    padding: 17px 11px;
}

.employeesTbody tr:nth-child(even) {
    background-color: white;
}

.employeesTbody tr:nth-child(odd) {
    background-color: #eee;
}

.employeesTitleRow {
    color: white;
    background-color: #3498db;
}

.employeesColumn1, .employeesColumn2 {
    width: 170px;
}

.employeesColumn3 {
    width: 308px;
}

.employeesColumn4 {
    width: 200px;
}